In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

In [2]:
confirmed = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
deaths = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv'
recovered = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv'
population = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/UID_ISO_FIPS_LookUp_Table.csv'
country_population='https://raw.githubusercontent.com/DmitrySerg/COVID-19/master/data/country_population.csv'
airports = 'https://raw.githubusercontent.com/DmitrySerg/COVID-19/master/data/airport_df.csv'

In [3]:
c1_schoolclosing = 'https://raw.githubusercontent.com/OxCGRT/covid-policy-tracker/master/data/timeseries/c1_schoolclosing.csv'
c2_workplaceclosing = 'https://raw.githubusercontent.com/OxCGRT/covid-policy-tracker/master/data/timeseries/c2_workplaceclosing.csv'
c3_cancelpublicevents = 'https://raw.githubusercontent.com/OxCGRT/covid-policy-tracker/master/data/timeseries/c3_cancelpublicevents.csv'
c4_restrictionsongatherings = 'https://raw.githubusercontent.com/OxCGRT/covid-policy-tracker/master/data/timeseries/c4_restrictionsongatherings.csv'
c5_closepublictransport = 'https://raw.githubusercontent.com/OxCGRT/covid-policy-tracker/master/data/timeseries/c5_closepublictransport.csv'
c6_stayathomerequirements = 'https://raw.githubusercontent.com/OxCGRT/covid-policy-tracker/master/data/timeseries/c6_stayathomerequirements.csv'
c7_domestictravel = 'https://raw.githubusercontent.com/OxCGRT/covid-policy-tracker/master/data/timeseries/c7_domestictravel.csv'
c8_internationaltravel = 'https://raw.githubusercontent.com/OxCGRT/covid-policy-tracker/master/data/timeseries/c8_internationaltravel.csv'

In [4]:
e1_incomesupport = 'https://raw.githubusercontent.com/OxCGRT/covid-policy-tracker/master/data/timeseries/e1_incomesupport.csv'
e2_debtcontractrelief = 'https://raw.githubusercontent.com/OxCGRT/covid-policy-tracker/master/data/timeseries/e2_debtcontractrelief.csv'
h1_publicinfocampaign = 'https://raw.githubusercontent.com/OxCGRT/covid-policy-tracker/master/data/timeseries/h1_publicinfocampaign.csv'
h2_testingpolicy = 'https://raw.githubusercontent.com/OxCGRT/covid-policy-tracker/master/data/timeseries/h2_testingpolicy.csv'
h3_contacttracing = 'https://raw.githubusercontent.com/OxCGRT/covid-policy-tracker/master/data/timeseries/h3_contacttracing.csv'

In [5]:
['USA', 'South Korea', 'Taiwan', 'Democratic Republic of the Congo', 'Republic of the Congo', 'Bahamas', 'Gambia']

['USA',
 'South Korea',
 'Taiwan',
 'Democratic Republic of the Congo',
 'Republic of the Congo',
 'Bahamas',
 'Gambia']

In [6]:
df = pd.read_csv(confirmed)
for country in ['Australia', 'Canada', 'China', 'Denmark', 'France', 'Netherlands', 'United Kingdom']:
    df_country = df.loc[df['Country/Region'] == country]
    df_country = df_country.drop(['Province/State', 'Country/Region'], axis=1)
    ser_country = df_country.sum()
    ser_country[['Lat', 'Long']] /= len(df_country)
    ser_country['Country/Region'] = country
    df = df.drop(df_country.index).append(ser_country, ignore_index=True)
df_confirmed = df.drop('Province/State', axis=1).rename(columns={'Country/Region': 'Country'})
df_confirmed.loc[df_confirmed['Country'] == 'US', 'Country'] = 'United States'
df_confirmed.loc[df_confirmed['Country'] == 'Korea, South', 'Country'] = 'South Korea'
df_confirmed.loc[df_confirmed['Country'] == 'Taiwan*', 'Country'] = 'Taiwan'
df_confirmed.loc[df_confirmed['Country'] == 'Congo (Kinshasa)', 'Country'] = 'Democratic Republic of the Congo'
df_confirmed.loc[df_confirmed['Country'] == 'Congo (Brazzaville)', 'Country'] = 'Republic of the Congo'

In [7]:
df = pd.read_csv(deaths)
for country in ['Australia', 'Canada', 'China', 'Denmark', 'France', 'Netherlands', 'United Kingdom']:
    df_country = df.loc[df['Country/Region'] == country]
    df_country = df_country.drop(['Province/State', 'Country/Region'], axis=1)
    ser_country = df_country.sum()
    ser_country[['Lat', 'Long']] /= len(df_country)
    ser_country['Country/Region'] = country
    df = df.drop(df_country.index).append(ser_country, ignore_index=True)
df_deaths = df.drop('Province/State', axis=1).rename(columns={'Country/Region': 'Country'})
df_deaths.loc[df_deaths['Country'] == 'US', 'Country'] = 'United States'
df_deaths.loc[df_deaths['Country'] == 'Korea, South', 'Country'] = 'South Korea'
df_deaths.loc[df_deaths['Country'] == 'Taiwan*', 'Country'] = 'Taiwan'
df_deaths.loc[df_deaths['Country'] == 'Congo (Kinshasa)', 'Country'] = 'Democratic Republic of the Congo'
df_deaths.loc[df_deaths['Country'] == 'Congo (Brazzaville)', 'Country'] = 'Republic of the Congo'

In [8]:
df = pd.read_csv(recovered)
for country in ['Australia', 'Canada', 'China', 'Denmark', 'France', 'Netherlands', 'United Kingdom']:
    df_country = df.loc[df['Country/Region'] == country]
    df_country = df_country.drop(['Province/State', 'Country/Region'], axis=1)
    ser_country = df_country.sum()
    ser_country[['Lat', 'Long']] /= len(df_country)
    ser_country['Country/Region'] = country
    df = df.drop(df_country.index).append(ser_country, ignore_index=True)
df_recovered = df.drop('Province/State', axis=1).rename(columns={'Country/Region': 'Country'})
df_recovered.loc[df_recovered['Country'] == 'US', 'Country'] = 'United States'
df_recovered.loc[df_recovered['Country'] == 'Korea, South', 'Country'] = 'South Korea'
df_recovered.loc[df_recovered['Country'] == 'Taiwan*', 'Country'] = 'Taiwan'
df_recovered.loc[df_recovered['Country'] == 'Congo (Kinshasa)', 'Country'] = 'Democratic Republic of the Congo'
df_recovered.loc[df_recovered['Country'] == 'Congo (Brazzaville)', 'Country'] = 'Republic of the Congo'

In [9]:
df = pd.read_csv(population)
df = df.loc[df['Province_State'].isna()]
df_population = df[['Country_Region', 'Population']]
df_population = df_population.rename(columns={'Country_Region': 'Country'})
df_population.loc[df_population['Country'] == 'US', 'Country'] = 'United States'
df_population.loc[df_population['Country'] == 'Korea, South', 'Country'] = 'South Korea'
df_population.loc[df_population['Country'] == 'Taiwan*', 'Country'] = 'Taiwan'
df_population.loc[df_population['Country'] == 'Congo (Kinshasa)', 'Country'] = 'Democratic Republic of the Congo'
df_population.loc[df_population['Country'] == 'Congo (Brazzaville)', 'Country'] = 'Republic of the Congo'

In [10]:
df = pd.read_csv(country_population)
df_area = df[['name', 'area', 'Density']]
df_area = df_area.rename(columns={'name': 'Country', 'area': 'Area'})
df_area.loc[df_area['Country'] == 'DR Congo', 'Country'] = 'Democratic Republic of the Congo'

In [12]:
url='https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(PPP)'
r = requests.get(url)
soup = BeautifulSoup(r.text, 'html.parser')
results=soup('tr', valign='top')
results=results[0].find('td')
results=results.find_all('tr')
data=[]
for result in results[2:]:
    res=result.find_all('td')
    country = res[1].a['title'].strip()
    gdp = int(res[2].text.strip().replace(',','').replace('/Na',''))
    data.append((country, gdp))
df_gdp = pd.DataFrame(data, columns=['Country', 'GDP'])
df_gdp.loc[df_gdp['Country'] == 'The Bahamas', 'Country'] = 'Bahamas'
df_gdp.loc[df_gdp['Country'] == 'The Gambia', 'Country'] = 'Gambia'

In [13]:
df = pd.read_csv(airports)
df_airports = df.groupby('Country').count()['ID'].reset_index()
df_airports = df_airports.rename(columns={'ID': 'Airports'})
df_airports.loc[df_airports['Country'] == 'Congo (Kinshasa)', 'Country'] = 'Democratic Republic of the Congo'
df_airports.loc[df_airports['Country'] == 'Congo (Brazzaville)', 'Country'] = 'Republic of the Congo'

In [14]:
df = pd.read_csv('https://covid.ourworldindata.org/data/owid-covid-data.csv')
df_owid = df.groupby('location')[['handwashing_facilities', 'hospital_beds_per_100k']].max().reset_index()
df_owid = df_owid.rename(columns={'location': 'Country'})
df_owid.loc[df_owid['Country'] == 'Democratic Republic of Congo', 'Country'] = 'Democratic Republic of the Congo'
df_owid.loc[df_owid['Country'] == 'Congo', 'Country'] = 'Republic of the Congo'

In [15]:
df1 = pd.read_csv(c1_schoolclosing)
df2 = pd.read_csv(c2_workplaceclosing)
df3 = pd.read_csv(c3_cancelpublicevents)
df4 = pd.read_csv(c4_restrictionsongatherings)
df5 = pd.read_csv(c5_closepublictransport)
df6 = pd.read_csv(c6_stayathomerequirements)
df7 = pd.read_csv(c7_domestictravel)
df8 = pd.read_csv(c8_internationaltravel)
df9 = pd.read_csv(e1_incomesupport)
df10 = pd.read_csv(e2_debtcontractrelief)
df11 = pd.read_csv(h1_publicinfocampaign)
df12 = pd.read_csv(h2_testingpolicy)
df13 = pd.read_csv(h3_contacttracing)

In [16]:
def change_data(data):
    day = data[:2]
    month = data[2:-4]
    year = data[-2:]
    if month == 'jan':
        month = '1'
    elif month == 'feb':
        month = '2'
    elif month == 'mar':
        month = '2'
    elif month == 'apr':
        month = '3'
    elif month == 'may':
        month = '4'
    elif month == 'jun':
        month = '5'
    return '{}/{}/{}'.format(month, day, year)

def change_data_1(data):
    year, month, day = data.split('-')
    if month.startswith('0'):
        month = month[1:]
    year = year[-2:]
    return '{}/{}/{}'.format(month, day, year)

In [17]:
dfs = [df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13]
countries = df1['Unnamed: 0']
data = df1.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1)
columns = data.columns
new_columns = [change_data(i) for i in columns]
dic = dict()
for i in range(len(countries)):
    dic[i] = np.array(data.iloc[i].apply(list).values)
for df in dfs:
    data = df.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1)
    for i in range(len(countries)):
        dic[i] += np.array(data.iloc[i].apply(list).values)
df_policy = pd.DataFrame(dic, index=new_columns).T.iloc[:, 21:]
df_policy.insert(0, 'Country', countries)
df_policy.loc[df_airports['Country'] == 'Congo', 'Country'] = 'Republic of the Congo'
df_policy = df_policy.drop([170, 171, 172])

In [18]:
df = pd.read_csv('https://www.gstatic.com/covid19/mobility/Global_Mobility_Report.csv?cachebust=b3ad67084527db32')
df = df.loc[df['sub_region_1'].isna()]
df = df.drop(['country_region_code', 'sub_region_1', 'sub_region_2'], axis=1)
countries = pd.value_counts(df['country_region']).index
dic = dict()
for num, country in enumerate(countries):
    df_mini = df.loc[df['country_region'] == country]
    ind = []
    for i in range(len(df_mini)):
        ind.append([df_mini.iloc[i, j + 2] for j in range(6)])
    dic[num] = ind
columns = df_mini['date']
new_columns = [change_data_1(i) for i in columns]
df_mobility = pd.DataFrame(dic, index=new_columns).T
df_mobility.insert(0, 'Country', countries)
df_mobility.loc[df_mobility['Country'] == 'The Bahamas', 'Country'] = 'Bahamas'
df_mobility = df_mobility.sort_values(['Country'])

C:\Users\andre_000\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [19]:
df_confirmed_0 = pd.merge(df_airports, df_confirmed, how='right', on='Country')
df_confirmed_0 = pd.merge(df_owid, df_confirmed_0,  how='right', on='Country')
df_confirmed_0 = pd.merge(df_gdp, df_confirmed_0,  how='right', on='Country')
df_confirmed_0 = pd.merge(df_area, df_confirmed_0,  how='right', on='Country')
df_confirmed_0 = pd.merge(df_population, df_confirmed_0,  how='right', on='Country')
df_confirmed_0 = df_confirmed_0.sort_values(['Country'])
df_confirmed_0

,Country,Population,Area,Density,GDP,handwashing_facilities,hospital_beds_per_100k,Airports,Lat,Long,...,5/21/20,5/22/20,5/23/20,5/24/20,5/25/20,5/26/20,5/27/20,5/28/20,5/29/20,5/30/20
0,Afghanistan,38928341.0,652230.0,58.3257,74792.0,37.746,0.50,22.0,33.000000,65.000000,...,8676.0,9216.0,9998.0,10582.0,11173.0,11831.0,12456.0,13036.0,13659.0,14525.0
1,Albania,2877800.0,28748.0,100.2128,38078.0,NaN,2.89,5.0,41.153300,20.168300,...,969.0,981.0,989.0,998.0,1004.0,1029.0,1050.0,1076.0,1099.0,1122.0
2,Algeria,43851043.0,2381741.0,18.0763,638363.0,83.741,1.90,44.0,28.033900,1.659600,...,7728.0,7918.0,8113.0,8306.0,8503.0,8697.0,8857.0,8997.0,9134.0,9267.0
3,Andorra,77265.0,468.0,164.8333,NaN,NaN,NaN,NaN,42.506300,1.521800,...,762.0,762.0,762.0,762.0,763.0,763.0,763.0,763.0,764.0,764.0
4,Angola,32866268.0,1246700.0,25.5276,199329.0,26.664,NaN,25.0,-11.202700,17.873900,...,58.0,60.0,61.0,69.0,70.0,70.0,71.0,74.0,81.0,84.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,West Bank and Gaza,5101416.0,NaN,NaN,NaN,NaN,NaN,NaN,31.952200,35.233200,...,423.0,423.0,423.0,423.0,423.0,429.0,434.0,446.0,446.0,447.0
180,Western Sahara,597330.0,266000.0,2.1897,NaN,NaN,NaN,3.0,24.215500,-12.885800,...,6.0,6.0,6.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0
181,Yemen,29825968.0,527968.0,55.2343,70414.0,49.542,0.70,11.0,15.552727,48.516388,...,197.0,209.0,212.0,222.0,233.0,249.0,256.0,278.0,283.0,310.0
182,Zambia,18383956.0,752612.0,23.7321,73662.0,13.938,2.00,13.0,-15.416700,28.283300,...,866.0,920.0,920.0,920.0,920.0,920.0,1057.0,1057.0,1057.0,1057.0
183,Zimbabwe,14862927.0,390757.0,37.4797,37039.0,36.791,1.70,16.0,-20.000000,30.000000,...,51.0,51.0,56.0,56.0,56.0,56.0,132.0,149.0,149.0,174.0

In [20]:
df_deaths_0 = pd.merge(df_airports, df_deaths, how='right', on='Country')
df_deaths_0 = pd.merge(df_owid, df_deaths_0,  how='right', on='Country')
df_deaths_0 = pd.merge(df_gdp, df_deaths_0,  how='right', on='Country')
df_deaths_0 = pd.merge(df_area, df_deaths_0,  how='right', on='Country')
df_deaths_0 = pd.merge(df_population, df_deaths_0,  how='right', on='Country')
df_deaths_0 = df_deaths_0.sort_values(['Country'])
df_deaths_0

,Country,Population,Area,Density,GDP,handwashing_facilities,hospital_beds_per_100k,Airports,Lat,Long,...,5/21/20,5/22/20,5/23/20,5/24/20,5/25/20,5/26/20,5/27/20,5/28/20,5/29/20,5/30/20
0,Afghanistan,38928341.0,652230.0,58.3257,74792.0,37.746,0.50,22.0,33.000000,65.000000,...,193.0,205.0,216.0,218.0,219.0,220.0,227.0,235.0,246.0,249.0
1,Albania,2877800.0,28748.0,100.2128,38078.0,NaN,2.89,5.0,41.153300,20.168300,...,31.0,31.0,31.0,32.0,32.0,33.0,33.0,33.0,33.0,33.0
2,Algeria,43851043.0,2381741.0,18.0763,638363.0,83.741,1.90,44.0,28.033900,1.659600,...,575.0,582.0,592.0,600.0,609.0,617.0,623.0,630.0,638.0,646.0
3,Andorra,77265.0,468.0,164.8333,NaN,NaN,NaN,NaN,42.506300,1.521800,...,51.0,51.0,51.0,51.0,51.0,51.0,51.0,51.0,51.0,51.0
4,Angola,32866268.0,1246700.0,25.5276,199329.0,26.664,NaN,25.0,-11.202700,17.873900,...,3.0,3.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,West Bank and Gaza,5101416.0,NaN,NaN,NaN,NaN,NaN,NaN,31.952200,35.233200,...,2.0,2.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
180,Western Sahara,597330.0,266000.0,2.1897,NaN,NaN,NaN,3.0,24.215500,-12.885800,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0
181,Yemen,29825968.0,527968.0,55.2343,70414.0,49.542,0.70,11.0,15.552727,48.516388,...,33.0,33.0,39.0,42.0,44.0,49.0,53.0,57.0,65.0,77.0
182,Zambia,18383956.0,752612.0,23.7321,73662.0,13.938,2.00,13.0,-15.416700,28.283300,...,7.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0
183,Zimbabwe,14862927.0,390757.0,37.4797,37039.0,36.791,1.70,16.0,-20.000000,30.000000,...,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0

In [21]:
df_recovered_0 = pd.merge(df_airports, df_recovered, how='right', on='Country')
df_recovered_0 = pd.merge(df_owid, df_recovered_0,  how='right', on='Country')
df_recovered_0 = pd.merge(df_gdp, df_recovered_0,  how='right', on='Country')
df_recovered_0 = pd.merge(df_area, df_recovered_0,  how='right', on='Country')
df_recovered_0 = pd.merge(df_population, df_recovered_0,  how='right', on='Country')
df_recovered_0 = df_recovered_0.sort_values(['Country'])
df_recovered_0

,Country,Population,Area,Density,GDP,handwashing_facilities,hospital_beds_per_100k,Airports,Lat,Long,...,5/21/20,5/22/20,5/23/20,5/24/20,5/25/20,5/26/20,5/27/20,5/28/20,5/29/20,5/30/20
0,Afghanistan,38928341.0,652230.0,58.3257,74792.0,37.746,0.50,22.0,33.000000,65.000000,...,938.0,996.0,1040.0,1075.0,1097.0,1128.0,1138.0,1209.0,1259.0,1303.0
1,Albania,2877800.0,28748.0,100.2128,38078.0,NaN,2.89,5.0,41.153300,20.168300,...,771.0,777.0,783.0,789.0,795.0,803.0,812.0,823.0,851.0,857.0
2,Algeria,43851043.0,2381741.0,18.0763,638363.0,83.741,1.90,44.0,28.033900,1.659600,...,4062.0,4256.0,4426.0,4784.0,4747.0,4918.0,5129.0,5277.0,5422.0,5549.0
3,Andorra,77265.0,468.0,164.8333,NaN,NaN,NaN,NaN,42.506300,1.521800,...,639.0,652.0,653.0,653.0,663.0,676.0,676.0,681.0,684.0,692.0
4,Angola,32866268.0,1246700.0,25.5276,199329.0,26.664,NaN,25.0,-11.202700,17.873900,...,17.0,17.0,18.0,18.0,18.0,18.0,18.0,18.0,18.0,18.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,West Bank and Gaza,5101416.0,NaN,NaN,NaN,NaN,NaN,NaN,31.952200,35.233200,...,346.0,346.0,348.0,357.0,357.0,365.0,365.0,368.0,368.0,368.0
180,Western Sahara,597330.0,266000.0,2.1897,NaN,NaN,NaN,3.0,24.215500,-12.885800,...,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0
181,Yemen,29825968.0,527968.0,55.2343,70414.0,49.542,0.70,11.0,15.552727,48.516388,...,5.0,11.0,11.0,10.0,10.0,10.0,10.0,11.0,11.0,13.0
182,Zambia,18383956.0,752612.0,23.7321,73662.0,13.938,2.00,13.0,-15.416700,28.283300,...,302.0,336.0,336.0,336.0,336.0,336.0,779.0,779.0,779.0,779.0
183,Zimbabwe,14862927.0,390757.0,37.4797,37039.0,36.791,1.70,16.0,-20.000000,30.000000,...,18.0,18.0,18.0,25.0,25.0,25.0,25.0,28.0,28.0,29.0

In [22]:
df_confirmed_0.to_csv('confirmed.csv')
df_deaths_0.to_csv('deaths.csv')
df_recovered_0.to_csv('recovered.csv')
df_policy.to_csv('policy.csv')
df_mobility.to_csv('mobility.csv')