In [1]:
import h2o
from h2o.automl import H2OAutoML 

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
; Java HotSpot(TM) Client VM (build 25.241-b07, mixed mode, sharing)

c:\users\alkzir\appdata\local\programs\python\python37\lib\site-packages\h2o\backend\server.py:385: UserWarning:   You have a 32-bit version of Java. H2O works best with 64-bit Java.
  Please download the latest 64-bit Java SE JDK from Oracle.

  warn("  You have a 32-bit version of Java. H2O works best with 64-bit Java.\n"

  Starting server from c:\users\alkzir\appdata\local\programs\python\python37\lib\site-packages\h2o\backend\bin\h2o.jar
  Ice root: C:\Users\Alkzir\AppData\Local\Temp\tmpqalkjnuo
  JVM stdout: C:\Users\Alkzir\AppData\Local\Temp\tmpqalkjnuo\h2o_Alkzir_started_from_python.out
  JVM stderr: C:\Users\Alkzir\AppData\Local\Temp\tmpqalkjnuo\h2o_Alkzir_started_from_python.err
  Server is running at http://127.0.0.1:54329
Connecting to H2O server at http://127.0.0.1:54329 ... successful.

--------------------------  ---------------------------------------------------------
H2O_cluster_uptime:         09 secs
H2O_cluster_timezone:       Europe/Moscow
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.30.0.4
H2O_cluster_version_age:    1 day
H2O_cluster_name:           H2O_from_python_Alkzir_eri128
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    247.5 Mb
H2O_cluster_total_cores:    8
H2O_cluster_allowed_cores:  8
H2O_cluster_status:         accepting new members, healthy
H2O_connection_url:         http://127.0.0.1:54329
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.7.0 final
--------------------------  ---------------------------------------------------------

In [3]:
import warnings
warnings.filterwarnings("ignore")

In [4]:
df = pd.read_csv('../Data/Network-Science-Project-2/deaths.csv')
df

,Unnamed: 0,Country,Population,Area,Density,GDP,handwashing_facilities,hospital_beds_per_100k,Airports,Lat,...,5/21/20,5/22/20,5/23/20,5/24/20,5/25/20,5/26/20,5/27/20,5/28/20,5/29/20,5/30/20
0,0,Afghanistan,38928341.0,652230.0,58.3257,74792.0,37.746,0.50,22.0,33.000000,...,193.0,205.0,216.0,218.0,219.0,220.0,227.0,235.0,246.0,249.0
1,1,Albania,2877800.0,28748.0,100.2128,38078.0,NaN,2.89,5.0,41.153300,...,31.0,31.0,31.0,32.0,32.0,33.0,33.0,33.0,33.0,33.0
2,2,Algeria,43851043.0,2381741.0,18.0763,638363.0,83.741,1.90,44.0,28.033900,...,575.0,582.0,592.0,600.0,609.0,617.0,623.0,630.0,638.0,646.0
3,3,Andorra,77265.0,468.0,164.8333,NaN,NaN,NaN,NaN,42.506300,...,51.0,51.0,51.0,51.0,51.0,51.0,51.0,51.0,51.0,51.0
4,4,Angola,32866268.0,1246700.0,25.5276,199329.0,26.664,NaN,25.0,-11.202700,...,3.0,3.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,179,West Bank and Gaza,5101416.0,NaN,NaN,NaN,NaN,NaN,NaN,31.952200,...,2.0,2.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
184,180,Western Sahara,597330.0,266000.0,2.1897,NaN,NaN,NaN,3.0,24.215500,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0
185,181,Yemen,29825968.0,527968.0,55.2343,70414.0,49.542,0.70,11.0,15.552727,...,33.0,33.0,39.0,42.0,44.0,49.0,53.0,57.0,65.0,77.0
186,182,Zambia,18383956.0,752612.0,23.7321,73662.0,13.938,2.00,13.0,-15.416700,...,7.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0
187,183,Zimbabwe,14862927.0,390757.0,37.4797,37039.0,36.791,1.70,16.0,-20.000000,...,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0

In [5]:
df['handwashing_facilities'] = df['handwashing_facilities'].fillna(df['handwashing_facilities'].mean())
df['hospital_beds_per_100k'] = df['hospital_beds_per_100k'].fillna(df['hospital_beds_per_100k'].median())

In [6]:
new_df = df.dropna()
new_df

,Unnamed: 0,Country,Population,Area,Density,GDP,handwashing_facilities,hospital_beds_per_100k,Airports,Lat,...,5/21/20,5/22/20,5/23/20,5/24/20,5/25/20,5/26/20,5/27/20,5/28/20,5/29/20,5/30/20
0,0,Afghanistan,38928341.0,652230.0,58.3257,74792.0,37.7460,0.5000,22.0,33.000000,...,193.0,205.0,216.0,218.0,219.0,220.0,227.0,235.0,246.0,249.0
1,1,Albania,2877800.0,28748.0,100.2128,38078.0,50.4595,2.8900,5.0,41.153300,...,31.0,31.0,31.0,32.0,32.0,33.0,33.0,33.0,33.0,33.0
2,2,Algeria,43851043.0,2381741.0,18.0763,638363.0,83.7410,1.9000,44.0,28.033900,...,575.0,582.0,592.0,600.0,609.0,617.0,623.0,630.0,638.0,646.0
4,4,Angola,32866268.0,1246700.0,25.5276,199329.0,26.6640,2.3585,25.0,-11.202700,...,3.0,3.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0
5,5,Antigua and Barbuda,97928.0,442.0,219.7240,2506.0,50.4595,3.8000,2.0,17.060800,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180,176,Uzbekistan,33469199.0,447400.0,73.7186,310738.0,50.4595,4.0000,13.0,41.377500,...,13.0,13.0,13.0,13.0,13.0,14.0,14.0,14.0,14.0,14.0
182,178,Vietnam,97338583.0,331212.0,291.2398,1035051.0,85.8470,2.6000,25.0,16.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
185,181,Yemen,29825968.0,527968.0,55.2343,70414.0,49.5420,0.7000,11.0,15.552727,...,33.0,33.0,39.0,42.0,44.0,49.0,53.0,57.0,65.0,77.0
186,182,Zambia,18383956.0,752612.0,23.7321,73662.0,13.9380,2.0000,13.0,-15.416700,...,7.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0
187,183,Zimbabwe,14862927.0,390757.0,37.4797,37039.0,36.7910,1.7000,16.0,-20.000000,...,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0

In [7]:
data = df.T[11:]
data = data.astype('float64')

In [8]:
train = h2o.H2OFrame(np.array(data)[:, :100].T)
test  = h2o.H2OFrame(np.array(data)[:, 100:].T)

# Identify predictors and response
x = train.columns
y = "C130"
x.remove(y)

# For binary classification, response should be a factor
train[y] = train[y].asfactor()
test[y] = test[y].asfactor()

# Run AutoML for 20 base models (limited to 1 hour max runtime by default)
aml = H2OAutoML(max_models=20, seed=1, max_runtime_secs=30)
aml.train(x=x, y=y, training_frame=train)

# View the AutoML Leaderboard
lb = aml.leaderboard
lb.head(rows=lb.nrows)  # Print all rows instead of default (10 rows)

Parse progress: |█████████████████████████████████████████████████████████| 100%
Parse progress: |█████████████████████████████████████████████████████████| 100%
AutoML progress: |
12:38:25.22: AutoML: XGBoost is not available; skipping it.

████████████████████████████████████████████████████████| 100%

model_id,mean_per_class_error,logloss,rmse,mse
DRF_1_AutoML_20200603_123824,0.976351,25.7296,0.948419,0.899498
StackedEnsemble_AllModels_AutoML_20200603_123824,0.986486,4.21435,0.977281,0.955079
StackedEnsemble_BestOfFamily_AutoML_20200603_123824,0.986486,4.21435,0.977281,0.955079
GLM_1_AutoML_20200603_123824,0.993994,6.74725,0.984786,0.969803