In [1]:
! apt-get install default-jre

Reading package lists... Done
Building dependency tree
Reading state information... Done
default-jre is already the newest version (2:1.11-68ubuntu1~18.04.1).
default-jre set to manually installed.
0 upgraded, 0 newly installed, 0 to remove and 32 not upgraded.

In [2]:
!java -version

openjdk version "11.0.7" 2020-04-14
OpenJDK Runtime Environment (build 11.0.7+10-post-Ubuntu-2ubuntu218.04)
OpenJDK 64-Bit Server VM (build 11.0.7+10-post-Ubuntu-2ubuntu218.04, mixed mode, sharing)

In [3]:
!pip install h2o

Collecting h2o
  Downloading https://files.pythonhosted.org/packages/25/b0/5a6fbc343043ab6d6062114991fa515b7a408fc1f5339e1c1601e5f3e46e/h2o-3.30.0.4.tar.gz (128.3MB)
     |████████████████████████████████| 128.3MB 79kB/s
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from h2o) (2.23.0)
Requirement already satisfied: tabulate in /usr/local/lib/python3.6/dist-packages (from h2o) (0.8.7)
Requirement already satisfied: future in /usr/local/lib/python3.6/dist-packages (from h2o) (0.16.0)
Collecting colorama>=0.3.8
  Downloading https://files.pythonhosted.org/packages/c9/dc/45cdef1b4d119eb96316b3117e6d5708a08029992b2fee2c143c7a0a5cc5/colorama-0.4.3-py2.py3-none-any.whl
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->h2o) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->h2o) (2.9)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->h2o) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->h2o) (2020.4.5.1)
Building wheels for collected packages: h2o
  Building wheel for h2o (setup.py) ... done
  Created wheel for h2o: filename=h2o-3.30.0.4-py2.py3-none-any.whl size=128397038 sha256=ad6c3513bf5573792984b8df233309edc30036e78962d10853c815eddca2eb98
  Stored in directory: /root/.cache/pip/wheels/ad/bd/cc/0a8c7dffc4772df0bbfae4c1c7a9d64525fcd3ada9694dd8c3
Successfully built h2o
Installing collected packages: colorama, h2o
Successfully installed colorama-0.4.3 h2o-3.30.0.4

In [0]:
import h2o
from h2o.automl import H2OAutoML 


import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
  Java Version: openjdk version "11.0.7" 2020-04-14; OpenJDK Runtime Environment (build 11.0.7+10-post-Ubuntu-2ubuntu218.04); OpenJDK 64-Bit Server VM (build 11.0.7+10-post-Ubuntu-2ubuntu218.04, mixed mode, sharing)
  Starting server from /usr/local/lib/python3.6/dist-packages/h2o/backend/bin/h2o.jar
  Ice root: /tmp/tmprl3n4l56
  JVM stdout: /tmp/tmprl3n4l56/h2o_unknownUser_started_from_python.out
  JVM stderr: /tmp/tmprl3n4l56/h2o_unknownUser_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ------------------------------------------------------------------
H2O_cluster_uptime:         03 secs
H2O_cluster_timezone:       Etc/UTC
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.30.0.4
H2O_cluster_version_age:    2 days
H2O_cluster_name:           H2O_from_python_unknownUser_3fz53z
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    3.180 Gb
H2O_cluster_total_cores:    2
H2O_cluster_allowed_cores:  2
H2O_cluster_status:         accepting new members, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.6.9 final
--------------------------  ------------------------------------------------------------------

In [0]:
import warnings
warnings.filterwarnings("ignore")

In [7]:
df = pd.read_csv('/content/sample_data/deaths.csv')
df

     Unnamed: 0             Country  Population  ...  5/28/20  5/29/20  5/30/20
0             0         Afghanistan  38928341.0  ...    235.0    246.0    249.0
1             1             Albania   2877800.0  ...     33.0     33.0     33.0
2             2             Algeria  43851043.0  ...    630.0    638.0    646.0
3             3             Andorra     77265.0  ...     51.0     51.0     51.0
4             4              Angola  32866268.0  ...      4.0      4.0      4.0
..          ...                 ...         ...  ...      ...      ...      ...
183         179  West Bank and Gaza   5101416.0  ...      3.0      3.0      3.0
184         180      Western Sahara    597330.0  ...      1.0      1.0      1.0
185         181               Yemen  29825968.0  ...     57.0     65.0     77.0
186         182              Zambia  18383956.0  ...      7.0      7.0      7.0
187         183            Zimbabwe  14862927.0  ...      4.0      4.0      4.0

[188 rows x 141 columns]

In [0]:
df['handwashing_facilities'] = df['handwashing_facilities'].fillna(df['handwashing_facilities'].mean())
df['hospital_beds_per_100k'] = df['hospital_beds_per_100k'].fillna(df['hospital_beds_per_100k'].median())

In [9]:
new_df = df.dropna()
new_df

     Unnamed: 0              Country  Population  ...  5/28/20  5/29/20  5/30/20
0             0          Afghanistan  38928341.0  ...    235.0    246.0    249.0
1             1              Albania   2877800.0  ...     33.0     33.0     33.0
2             2              Algeria  43851043.0  ...    630.0    638.0    646.0
4             4               Angola  32866268.0  ...      4.0      4.0      4.0
5             5  Antigua and Barbuda     97928.0  ...      3.0      3.0      3.0
..          ...                  ...         ...  ...      ...      ...      ...
180         176           Uzbekistan  33469199.0  ...     14.0     14.0     14.0
182         178              Vietnam  97338583.0  ...      0.0      0.0      0.0
185         181                Yemen  29825968.0  ...     57.0     65.0     77.0
186         182               Zambia  18383956.0  ...      7.0      7.0      7.0
187         183             Zimbabwe  14862927.0  ...      4.0      4.0      4.0

[165 rows x 141 columns]

In [0]:
data = df.T[11:]
data = data.astype('float64')

In [11]:
train = h2o.H2OFrame(np.array(data)[:, :100].T)
test  = h2o.H2OFrame(np.array(data)[:, 100:].T)

# Identify predictors and response
x = train.columns
y = "C130"
x.remove(y)

# For binary classification, response should be a factor
train[y] = train[y].asfactor()
test[y] = test[y].asfactor()

# Run AutoML for 20 base models (limited to 1 hour max runtime by default)
aml = H2OAutoML(max_models=20, seed=1)

aml.train(x=x, y=y, training_frame=train)

# View the AutoML Leaderboard
# lb = aml.leaderboard
# lb.head(rows=lb.nrows)  # Print all rows instead of default (10 rows)

lb = aml.leaderboard
lbdf = lb.as_data_frame()
lbdf.head()

Parse progress: |█████████████████████████████████████████████████████████| 100%
Parse progress: |█████████████████████████████████████████████████████████| 100%
AutoML progress: |███████████████████████████████
17:43:25.590: Skipping training of model GBM_5_AutoML_20200603_173621 due to exception: water.exceptions.H2OModelBuilderIllegalArgumentException: Illegal argument(s) for GBM model: GBM_5_AutoML_20200603_173621.  Details: ERRR on field: _min_rows: The dataset size is too small to split for min_rows=100.0: must have at least 200.0 (weighted) rows, but have only 100.0.


█████████████████████████| 100%

                                model_id  ...       mse
0           GBM_1_AutoML_20200603_173621  ...  0.764966
1           GBM_3_AutoML_20200603_173621  ...  0.834101
2           GBM_4_AutoML_20200603_173621  ...  0.828619
3           GBM_2_AutoML_20200603_173621  ...  0.843761
4  DeepLearning_1_AutoML_20200603_173621  ...  0.977656

[5 rows x 5 columns]